@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.review {
  margin-top: 5rem;
  padding-top: 5rem;
  margin: 20px;
  padding-right: 900px;
  font-family: "Roboto", sans-serif;
}

.review h2 {
  padding-bottom: 20px;
}

.border {
  border-bottom: 2px solid gray;
  margin-right: 20rem;
  margin-top: 1px;
}
