@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.sticky-header {
  padding: 1rem 0 10rem 0;
  background-image: url(https://pbs.twimg.com/media/E35MMgmVUAA1BXC?format=jpg&name=large);
  background-size: cover;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.sticky-header .sticky-body h3 {
  font-weight: bold;
}

.sticky-body {
  font-size: 15px;
  margin-right: 30rem;
  margin-left: 8rem;
  margin-top: 2rem;
  padding-top: 2rem;
}

.sticky-body .button {
  margin-right: 1rem;
  margin-top: 3rem;
  font-weight: bold;
}

.fas-tar {
  padding-right: 5px;
  padding-bottom: 2px;
  color: yellow;
}
